.m-module-discordInvitation .m-module-content {
  max-width: 850px;
  height: 300px;
  background-image: url("/assets/img/nature_scene/Group.png");
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .m-module-discordInvitation .m-module-content .m-vert-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .m-module-discordInvitation .m-module-content .m-vert-div .m-vert {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 25px 100px; }
      .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-logo {
        width: 100px;
        height: auto; }
      .m-module-discordInvitation .m-module-content .m-vert-div .m-vert:last-of-type {
        margin: 25px 100px 25px 20px; }
      .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-hor-div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-hor-div .m-hor .m-title {
          color: white;
          font-size: 25px;
          font-weight: 600;
          margin: 8px 0 8px 0; }
        .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-hor-div .m-hor .m-subtitle {
          color: rgba(255, 255, 255, 0.8);
          font-size: 18px;
          font-weight: 100;
          margin: 0; }
        .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-hor-div .m-hor .m-inviteButton {
          background-color: white; }
