
.m-module.m-element-slider
	margin-top: 5%
	margin-bottom: 5%
	margin-left: 2.5%
	background:
		image: url("../img/backgrounds/slider-fire-background.png")
		position: center
	width: 1796px
	height: 489px
	overflow: hidden

	.m-module-content
		position: relative

		.m-elements-text-container
			font-family: Gilroy
			color: white

			.m-text-title
				position: absolute
				font-size: 24px
				top: 150%
				right: 50%
				transform: translate(50%, 0)

			.m-down-arrow
				position: absolute
				right: 50%
				top: 185%
				transform: translate(50%, 0)

			.m-text-desc
				position: absolute
				font-size: 16px
				width: 492
				right: 50%
				top: 250%
				transform: translate(50%, 0)

		.m-arrow
			position: absolute
			top: 50%
			z-index: 20
			transform: translate(0, -50%)

			&.m-left
				left: 1px

			&.m-right
				right: 1px

	.m-elements-container
		width: 100%
		position: relative
		height: 110px
		margin-top: 50px


		.m-element
			position: absolute
			height: 110px
			image-rendering: pixelated
			transform: translate(-50%, -50%)
			top: 50%
			transition: all 200ms ease-in-out

			&.m-01
				opacity: 0
				transform: translate(-50%, -50%) scale(0)
				left: -10%

			&.m-02
				opacity: .4
				transform: translate(-50%, -50%) scale(0.4)
				left: 5%

			&.m-03
				opacity: .6
				transform: translate(-50%, -50%) scale(0.6)
				left: 20%

			&.m-04
				opacity: .8
				transform: translate(-50%, -50%) scale(0.8)
				left: 35%

			&.m-05
				opacity: 1
				transform: translate(-50%, -50%) scale(1)
				left: 50%

			&.m-06
				opacity: .8
				transform: translate(-50%, -50%) scale(0.8)
				left: 65%

			&.m-07
				opacity: .6
				transform: translate(-50%, -50%) scale(0.6)
				left: 80%

			&.m-08
				opacity: .4
				transform: translate(-50%, -50%) scale(0.4)
				left: 95%

			&.m-09
				opacity: 0
				transform: translate(-50%, -50%) scale(0)
				left: 110%