.m-module.m-element-slider .m-elements-container {
  width: 500px;
  position: relative; }
  .m-module.m-element-slider .m-elements-container .m-element {
    position: absolute; }
    .m-module.m-element-slider .m-elements-container .m-element.m-01 {
      opacity: 0;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      left: 10%; }
    .m-module.m-element-slider .m-elements-container .m-element.m-02 {
      opacity: .4;
      -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
      transform: scale(0.2);
      left: 20%; }
    .m-module.m-element-slider .m-elements-container .m-element.m-03 {
      opacity: .6;
      -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
      transform: scale(0.3);
      left: 30%; }
    .m-module.m-element-slider .m-elements-container .m-element.m-04 {
      opacity: .8;
      -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
      transform: scale(0.4);
      left: 40%; }
    .m-module.m-element-slider .m-elements-container .m-element.m-05 {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      left: 50%; }
    .m-module.m-element-slider .m-elements-container .m-element.m-06 {
      opacity: .8;
      -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
      transform: scale(0.4);
      left: 60%; }
    .m-module.m-element-slider .m-elements-container .m-element.m-07 {
      opacity: .6;
      -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
      transform: scale(0.3);
      left: 70%; }
    .m-module.m-element-slider .m-elements-container .m-element.m-08 {
      opacity: .4;
      -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
      transform: scale(0.2);
      left: 80%; }
    .m-module.m-element-slider .m-elements-container .m-element.m-09 {
      opacity: 0;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      left: 90%; }
