.m-module-discordInvitation .m-module-content {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#181B23), to(#181B23)), radial-gradient(1082.97px at 42.73% 67.17%, rgba(131, 119, 223, 0.4) 0%, rgba(59, 61, 122, 0.4) 100%);
  background: -webkit-linear-gradient(bottom, #181B23, #181B23), -webkit-radial-gradient(42.73% 67.17% 1082.97px, rgba(131, 119, 223, 0.4) 0%, rgba(59, 61, 122, 0.4) 100%);
  background: -o-linear-gradient(bottom, #181B23, #181B23), -o-radial-gradient(42.73% 67.17% 1082.97px, rgba(131, 119, 223, 0.4) 0%, rgba(59, 61, 122, 0.4) 100%);
  background: linear-gradient(0deg, #181B23, #181B23), radial-gradient(1082.97px at 42.73% 67.17%, rgba(131, 119, 223, 0.4) 0%, rgba(59, 61, 122, 0.4) 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
