.m-module-discordInvitation .m-module-content {
  max-width: 850px;
  height: 300px;
  background-image: url("/assets/img/discord_bg.png");
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .m-module-discordInvitation .m-module-content .m-vert-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .m-module-discordInvitation .m-module-content .m-vert-div .m-vert {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 25px 100px; }
      .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-logo {
        width: 100px;
        height: auto; }
      .m-module-discordInvitation .m-module-content .m-vert-div .m-vert:last-of-type {
        margin: 25px 100px 25px 20px; }
      .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-hor-div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-hor-div .m-hor .m-title {
          color: white;
          font-size: 25px;
          font-weight: 600;
          margin: 8px 0 8px 0; }
        .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-hor-div .m-hor .m-subtitle {
          color: rgba(255, 255, 255, 0.8);
          font-size: 18px;
          font-weight: 100;
          margin: 0; }
        .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-hor-div .m-hor .m-inviteButton {
          margin-top: 45px;
          background-color: white;
          color: #7289DA;
          display: -webkit-inline-box;
          display: -webkit-inline-flex;
          display: -ms-inline-flexbox;
          display: inline-flex;
          border-radius: 3px;
          padding: 10px 20px 10px 10px;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-hor-div .m-hor .m-inviteButton .m-discord {
            margin-right: 15px; }
          .m-module-discordInvitation .m-module-content .m-vert-div .m-vert .m-hor-div .m-hor .m-inviteButton .m-text {
            font-weight: 600;
            font-size: 15px; }

.m-module-footer .m-module-content {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#181B23), to(#181B23)), radial-gradient(1082.97px at 42.73% 67.17%, rgba(131, 119, 223, 0.4) 0%, rgba(59, 61, 122, 0.4) 100%);
  background: -webkit-linear-gradient(bottom, #181B23, #181B23), -webkit-radial-gradient(42.73% 67.17% 1082.97px, rgba(131, 119, 223, 0.4) 0%, rgba(59, 61, 122, 0.4) 100%);
  background: -o-linear-gradient(bottom, #181B23, #181B23), -o-radial-gradient(42.73% 67.17% 1082.97px, rgba(131, 119, 223, 0.4) 0%, rgba(59, 61, 122, 0.4) 100%);
  background: linear-gradient(0deg, #181B23, #181B23), radial-gradient(1082.97px at 42.73% 67.17%, rgba(131, 119, 223, 0.4) 0%, rgba(59, 61, 122, 0.4) 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0; }
  .m-module-footer .m-module-content .m-logo {
    width: 35px;
    height: auto; }
  .m-module-footer .m-module-content .m-copyright {
    padding: 0px 35px 0px 50px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
    font-weight: 100; }
  .m-module-footer .m-module-content .m-imprint {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 200; }

* {
  font-family: "Source Code Pro", sans-serif; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh; }
  body h1 {
    color: #888; }
