$text: #888
$darktext: #333
$discord: #7289DA
$bg: #1D202B

@import "modules/_modules.sass"
@import "admin/admin.sass"

*
	font-family: "Source Sans Pro", sans-serif

html
	font-size: 20px

body
	margin: 0
	padding: 0
	height: 100%

	h1
		color: $text


.m-module-content
	max-width: 950px
	width: 90%
	margin: 0 auto


.m-wrap
	background: $bg
	min-height: 100vh


.m-headline-container
	text-align: center
	.m-headline
		font:
			size: 2.5em
			weight: 700
		color: white

		&::after
			display: block
			content: ''
			height: 1px
			width: 35px
			background: rgba(white, 0.7)
			margin: 20px auto

	.m-subheadline
		display: inline-block
		font:
			size: 0.9em
			weight: 300
		max-width: 20em
		color: rgba(white, 0.7)
		margin-bottom: 20px



.m-inset
	box-sizing: border-box
	margin:
		left: 50px
		right: 50px
	border:
		radius: 8px

//		##Login Section##

$login-bg: #1E1F26
$input-bg: #17181D
$login-footer-bg: rgba(#E8F0FC, 0.05)

.m-red
	background: red !important

.m-login-wrapper
	height: 100vh
	width: 100vw
	background: $login-bg
	display: flex
	justify-content: center
	align-items: center
	background: url("../img/login/background.svg")
	//background-size: 50% 100%
	background-repeat: no-repeat
	background-position: left center

	.m-login-content
		height: 560px
		width: 470px
		background: $login-bg
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.3)
		font-size: 13px

		.m-head
			display: flex
			justify-content: center
			flex-direction: column
			align-items: center
			flex: 1
			padding: 80px

			.m-content
				height: 325px
				width: 295px
				display: flex
				justify-content: space-between
				flex-direction: column
				align-items: center

				.m-logo
					height: 55px
					width: 170px

				.m-inputs
					display: flex
					justify-content: center
					align-items: center
					flex-direction: column
					width: 100%

					.m-input
						width: 245px
						border: 0
						padding: 20px 25px
						font-family: 'Lato'
						border-radius: 3px
						color: rgba(white, 0.8)
						background: $input-bg
						transition: all .2s ease-in-out

						&:last-child
							margin-top: 15px

						&:focus
							outline: none
							box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2)



				.m-buttons
					display: flex
					align-items: center
					justify-content: space-between
					width: 100%

					.m-forgot
						font-family: 'Lato'
						color: rgba(white, 0.4)
						transition: color .2s ease-in-out

						&:hover
							cursor: pointer
							color: rgba(white, 0.6)

					.m-login
						font-family: 'Lato'
						color: white
						padding: 18px 25px
						border-radius: 2px
						background: linear-gradient(64.09deg, #F32C3C 0%, #FF7756 100%)
						user-select: none
						transition: all .2s ease-in-out
						display: flex
						align-items: center

						&:hover
							cursor: pointer
							box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3)

						img
							margin-left: 10px
							height: 14px
							width: 13px

		.m-footer
			height: 85px
			background: $login-footer-bg
			width: 100%
			display: flex
			justify-content: center
			align-items: center

			.m-signup
				color: rgba(white, 0.7)


				a
					font-family: 'Lato'
					font-weight: bold
					text-decoration: none
					color: #F74444
					padding-left: 5px
					transition: all .2s ease-in-out

					&:hover
						color: lighten(#F74444, 8%)


