.m-admin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #151935; }
  .m-admin .m-aside {
    width: 200px;
    padding: 45px; }
    .m-admin .m-aside .m-logo {
      width: 35px; }
    .m-admin .m-aside .m-nav {
      margin-top: 40px; }
      .m-admin .m-aside .m-nav .m-module {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .m-admin .m-aside .m-nav .m-module .m-icon {
          width: 20px; }
        .m-admin .m-aside .m-nav .m-module .m-title {
          padding-left: 25px;
          color: rgba(255, 255, 255, 0.4); }
